<ion-content [fullscreen]="true">
  <div>
    <ion-title>Welcome</ion-title>
    <p>Sign up to create an account</p>
  </div>
  <form>
    <div class="ion-padding">
      <ion-item>
        <ion-input></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
    </div>
    <div>
      <p><a [routerLink]="['/login']">Sign in now</a></p>
    </div>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px">
      <ion-fab-button [routerLink]="['/home']">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
